<h1>Admin links</h1>
<ul>
  <li><a routerLink="admin/list">List</a></li>
  <li><a routerLink="admin/student">Student</a></li>
  <li><a routerLink="admin/virtual-classroom">Virtual</a></li>
</ul>
<!--Integration database-->
<div style = "width:300px;">
  <form (ngSubmit = "onSubmit()")>
    <div class = "form-group">
      <label for="item">Item</label>
      <input type="text" class="form-control" 
      placeholder="Enter" id="item"
      required [(ngModel)] = "itemValue" name ="item">
    </div>
    <div class = "btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<h2>Content from Firebase</h2>
<div class="col-md-3">
  <pre *ngFor="let item of items | async">{{item.content}}</pre>
</div>
<router-outlet></router-outlet>
